/* General */
body
{
    font-family: 20px 'Montserrat', sans-serif;
}
.breaker
{
    width: 220px;
    font-weight: 600;
}
h2
{
    padding-bottom: 10px;
}
h3
{
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
}
p
{
    font-size: 20px;
    padding: 15px;
}
/* Navbar */
.navbar
{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover
{
    color: #339966 !important;
}
.container-fluid
{
    padding-top: 75px;
    padding-bottom: 30px;
}

/* Header */
.bg-head
{
    margin-top: 15px;
    background-color: #339966;
    color: #ffffff;
}
.bg-content1
{
    background-color: #293d3d;
    color: white;
}
.bg-content2
{
    background-color: #ffffff;
    color: #293d3d;
}
#mainCarousel
{
    padding: 50px;
    background-color: #293d3d;
    color: #ffffff;
}

/* Content */
.container-fluid .btn
{
    color: #293d3d;
    background-color: #ffffff;
}
.container-fluid .btn:hover
{
    color: #ffffff;
    background-color: #293d3d;
    border-color: 1px solid #ffffff;
}

/* Offer */
.panel
{
    border: 1px solid #293d3d;
    border-radius: 0;
    transition: box-shadow 0.5s;
}
.panel:hover
{
    box-shadow: 20px 0px 80px rgba(0, 0, 0, .2);
}
.panel-heading
{
    background-color: #293d3d !important;
    color: #ffffff !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-body p
{
    padding: 20px;
}
.panel-footer
{
    background-color: #ffffff !important;
}
.panel-footer .btn, .col-sm-12 .btn
{
    margin: 15px 0;
    border: 1px solid #293d3d;
    background-color: #ffffff;
    color: #293d3d
}
.panel-footer .btn:hover, .col-sm-12 .btn:hover
{
    border: 1px solid #293d3d;
    background-color: #293d3d;
    color: #ffffff;
}

/* Google maps */
.col-sm-12
{
    padding: 20px 0;
}

/* Contact */
.col-sm-12 .btn
{
    margin: 20px;
}

/* Footer */
footer a 
{
    color: #ffffff;
    font-size: 20px;
}
footer a:hover
{
    color: #339966;
}

/* Animation */
.slideanim
{
    visibility: hidden;
}
.slide
{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide
{
    0%
    {
        opacity: 0;
        transform: translateY(70%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide
{
    0%
    {
        opacity: 0;
        transform: translateY(70%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0%);
    }
}